In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../original_metadata/panda_train.csv")
df.head()

                           image_id data_provider  isup_grade gleason_score
0  0005f7aaab2800f6170c399693a96917    karolinska           0           0+0
1  000920ad0b612851f8e01bcc880d9b3d    karolinska           0           0+0
2  0018ae58b01bdadc8e347995b69f99aa       radboud           4           4+4
3  001c62abd11fa4b57bf7a6c603a11bb9    karolinska           4           4+4
4  001d865e65ef5d2579c190a0e0350d8f    karolinska           0           0+0

In [3]:
df["isup_grade"].value_counts()

0    2892
1    2666
2    1343
4    1249
3    1242
5    1224
Name: isup_grade, dtype: int64

In [4]:
# drop the zeros and 1s.. 
df = df.drop(df[df["data_provider"] == "karolinska"].index)
df = df.drop(df[df["isup_grade"] == 2].index)
df = df.drop(df[df["isup_grade"] == 3].index)

map_dict = {0:0, 1:0, 4:1, 5:1}
# Apply the mapping to the column using the map() function
df['label'] = df['isup_grade'].map(map_dict)
# take a sample of 300 from each class.
df["label"].value_counts()
df_final = df.sample(1000)

In [ ]:
df_final["slide_id"] = df_final["image_id"]
df_final["case_id"] = df_final.index
df_final = df_final.drop(columns=["image_id","isup_grade","gleason_score", "data_provider"])

# df_final.to_csv("../dataset_csv/PANDA_ISUP.csv", index=None)
# df_final["slide_id"].to_csv("../dataset_csv/PANDA_image_list.csv", index=None)